@{
    ViewData["Title"] = "About Page";
}

<div class="information">
    <h5>Name: </h5><p>Christopher Andrew E. Ortega</p>
</div>
<div class="information">
    <h5>Section: </h5><p>BSCS31E1</p>
</div>
<div class="information">
    <h5>Birthdate: </h5><p>12/09/1999</p>
</div>
<div class="information">
    <h5>Programming Languages Studied: </h5><p>C++, C#, PYTHON</p>
</div>
<div class="information">
    <h5>Misc. Info: </h5><p>Likes chocolate, is a big nerd</p>
</div>
